<div class="row no-gutters p-lg-3">
    <app-filter-panel class="col-lg-3 col-sm-12"> </app-filter-panel>
    <div class="col-lg-9 col-sm-12 p-2 pr-lg-0 py-lg-0">

        <app-hotel-panel *ngFor="let hotel of hotels" [hotel]="hotel"></app-hotel-panel>

        <!-- PAGINATOR -->
        <div class="row mx-0 my-4" *ngIf="numElePag < hotelService.totalHotels">
            <div class="col-6 text-right">
                <button [disabled]="since < numElePag" class="btn btn-primary" (click)="cambiarDesde(since - numElePag)">Anterior</button>
            </div>
            <div class="col-6 text-left">
                <button [disabled]="(since + numElePag) >= hotelService.totalHotels" class="btn btn-primary" (click)="cambiarDesde(since + numElePag)">Siguiente</button>
            </div>
        </div>

        <!-- MENSAJE DE ALERTA -->
        <div class="alert alert-warning" *ngIf="hotelService.totalHotels === 0" role="alert">
            Uy, no encontramos resultados
        </div>
    </div>
</div>

<app-loading [active]="active"></app-loading>
